.b_mess {padding:10px; background:#f7e9ce; margin-top: 10px}
.mess_link{overflow:hidden;}
.mess_link_itm {width:40%; float:left;}
.mess_link_itm:fist-child{margin-left:4%;}
.mess_link_itm a{font-size:17px; line-height:30px; float:left;margin-left:7px;font-weight:700;}
.mess_link_itm .social__link {width:31px; height:32px;}
.mess_title {font-weight:700; margin-bottom:15px; text-align:center;}
*+.product-utp, .product-utp+* {margin-top:0.5rem;}
.catalog-section-list li {margin:2px;}
.product-utp__text a{text-decoration:underline; font-size:0.9em}
.product .read-more::before {content: '↓ Описание ↓';}
.b_anons {margin:15px 0; padding:0 30px;}
.header .top-menu li:nth-child(5) a {color:#fff;font-weight:bold;}
.alert {
    padding: 20px 15px;
    margin-bottom: 20px;
}
.alert-warning {
    background-color: #ddfddd;
}
.alert-error {
    background-color: #ffd6d6;
}

.category-items .thumb a {
    overflow: hidden;
}

.category-items .label.red {
    background-color: #ff0937;
    border-color: #ff0937;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .category-items .thumb a {
        height: 100%;
    }

    .inner:hover {
        position: initial !important;
        padding: 0rem !important;
    }
}
